<% content_for :page_title, "Categories" %>
<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
     <%= link_to render(category), category_path(category) %>
  <% end %>
</div>

<footer class="container-fluid mt-3 p-1", style="background-color: rgb(100, 182, 37);height:80px; position: fixed; bottom: 0; left: -5px; right:-5px">
<div class=" border border-cyan-50 m-2 p-2" style="height:50px; margin-left:30px; margin-right:30px; display: flex; justify-content: center ">
    <%= link_to new_category_path do %>
      
        <button class="btn text-white container text-center", style="background-color: rgb(100, 182, 37);">
          <strong>Add New Category</strong>
        </button>
     
    <% end %>
  </div>
</footer>